@import './variables.css';

.container {
    max-width: 1440px;
    margin: 0 auto;
    font-family: var(--font-family-primary);
}

.menu-pos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 90px;
}

.menu-list ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.menu-list li {
    padding: 0 40px;
}

.menu-list a {
    color: var(--nav-text-color);
    font-size: var(--font-size-base);
    text-decoration: none;
    transition: opacity 0.2s;
}

.menu-list a:hover {
    opacity: 0.8;
}

.btn-container button {
    margin-left: 20px;
    padding: 8px 29px;
    cursor: pointer;
    border: none;
    background: none;
    transition: opacity 0.2s;
}

.btn-container button:hover {
    opacity: 0.8;
}

.btn-container button.primary {
    background-color: var(--blue-btn-color);
    color: white;
    border-radius: 8px;
    width: 125px;
}